.box {
  width: 300px;
  height: 100vh;
}
.active {
  color: var(--text-third-color);
}
.content {
  display: none;
}
.accordion-item {
  margin-bottom: 1rem;
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  background-color: var(--bg-third-color);
  color: var(--text-white-color);
}
